@font-face {
  font-family: 'Whitney Book';
  font-display: swap;
  src: url('Whitney-Book.woff') format('woff');
  font-weight: 325;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney Semibold';
  src: url('Whitney-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
