@import 'variables.scss';
@import './fonts/fonts.scss';
@import 'default.scss';

.btn {
  color: #f25b24;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: $w_b;
  font-size: 16px;
  cursor: pointer;
  &[disabled] {
    color: #c1bfbe;
    cursor: auto;
  }
}

.item {
  background: #ffffff;
  border: 1px solid #eceaf2;
  box-shadow: 0px 4px 10px rgba(64, 40, 154, 0.05);
  border-radius: 4px;
  width: 570px;
}

.item-title {
  font-weight: 350;
  font-size: 20px;
  line-height: 26.23px;
  color: #474351;
}

.menu {
  &__list {
    padding: 52px 0 0 0;
    margin: 0;
  }
  &__link {
    font-weight: 350;
    padding: 22px 20px 21px 72px;
    display: block;
    text-decoration: none;
    color: #918d9a;
    &.menu__link--active,
    &.menu__link--active-sub,
    &:hover {
      background: #f8f8fa;
      color: #474351;
    }
  }
}

.users-items {
  &__item {
    margin-bottom: 30px;
    padding: 23.5px 27px 32px;
  }
  &__title {
    cursor: pointer;
    padding-bottom: 2px;
  }
  &__city {
    font-size: 14px;
    line-height: 18px;
    color: #918d9a;
    margin-bottom: 19px;
  }
}

.posts-items {
  &__item {
    overflow: hidden;
    padding: 21px 27px 21px 30px;
    margin-bottom: 30px;
  }
  &__title {
    padding-bottom: 11px;
    border-bottom: 2px solid #eceaf2;
    margin-bottom: 13px;
  }
  &__body {
    font-size: 16px;
    line-height: 21px;
    color: #474351;
    margin-bottom: 12px;
  }
}

.comments-wrapper {
  .comments-wrapper__items {
    margin-top: 26px;
  }
  &__item {
    margin-bottom: 18px;
  }
  &__item-title {
    font-weight: 350;
    font-size: 16px;
    color: #474351;
    padding-bottom: 5px;
  }
  &__item-body {
    font-size: 14px;
    line-height: 18px;
    color: #918d9a;
  }
}

.user-info {
  &__top {
    padding: 20px 27px;
    border-bottom: 2px solid #eceaf2;
  }
  &__name {
    font-family: $w_s_b;
    font-size: 18px;
    padding-bottom: 2px;
  }
  &__email {
    font-size: 13px;
  }
  &__bottom {
    padding: 26px 28px;
    font-size: 12px;
    line-height: 16px;
  }
  &__btn {
    display: flex;
    align-items: center;
    background: #f25b24;
    border-radius: 4px;
    border: none;
    padding: 13px 30px;
    margin: 0;
    font-family: $w_s_b;
    font-size: 16px;
    color: #fff;
    margin-top: 140px;
    cursor: pointer;
  }
  &__btn-img {
    margin-right: 10px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.entering {
  transition: all 0.5s;
  transform: translateX(0);
  opacity: 1;
}
.entered {
  transition: all 0.5s;
  transform: translateX(0);
  opacity: 1;
}
.exiting {
  transition: all 0.5s;
  transform: translateX(-100%);
  opacity: 0;
}
.exited {
  transition: all 0.5s;
  transform: translateX(-100%);
  opacity: 0;
}
