$color_design: #f25b24;
$text_color: #474351;
$text_size: 16px;
$link_color: #f25b24;
$site_font: 'Whitney Book', Arial, sans-serif;
$h1_size: 30px;
$h_color: #2e2d35;
$h_font: 'Whitney Semibold';
$w_b: 'Whitney Book';
$w_s_b: 'Whitney Semibold';
